<!-- <p>servers works!</p> -->
<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<br />
<!-- <label>Server Name with Two way binding</label> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<br />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" />
<br />
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset
</button> -->
<p *ngIf="serverCreated; else noServer">
  Sever was created, server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No Server was created</p>
</ng-template>
<hr />
<!-- <button class="btn btn-primary" (click)="showContent = !showContent">
  Display Details
</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()">
  Display Details
</button>
<p *ngIf="showContent">Secret password = tuna</p>
<div
  *ngFor="let logItem of log"
  [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'white' }"
  [ngClass]="{ 'white-text': logItem >= 5 }"
>
  {{ logItem }}
</div>
<hr />
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->
