<!-- <p>servers works!</p> -->
<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<br />
<!-- <label>Server Name with Two way binding</label> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<br />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" />
<br />
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset
</button> -->
<p *ngIf="serverCreated">Sever was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
