<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <input type="text" [(ngModel)]="name" />
<p>{{ name }}</p> -->

<!-- <h3>I am in the App Component</h3>

<app-servers></app-servers> -->

<!-- Adding css -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"></div>
    <h3>I am in the App Component</h3>
    <hr />
    <app-servers></app-servers> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<!-- <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert> -->
<!-- </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br /><br />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers; let i = index"
          (click)="onRemoveServer(i)"
        >
          {{ server }}
        </li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change first element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy first Component
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      > -->
<!-- Whatever content added here between these opening and closing tag will be placed where ng content tag is used-->
<!-- <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameStarted)="onGameStarted($event)"
      ></app-game-control>
      <br />
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [number]="oddNumber"
      ></app-odd>
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [number]="evenNumber"
      ></app-even>
    </div>
  </div>
</div> -->
<!-- ---------------------------------------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div> -->

<!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 != 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div> -->
<!-- *ngIf transforms to below template behind the scenes -->
<!-- <ng-template [ngIf]="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 != 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </ng-template> -->

<!-- Same name of Directive should be used -->
<!-- <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 != 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighLight>Style me with basic directive!</p> -->
<!-- here two ways of assigning colors -->
<!-- <p appBetterHighlight [defaultColor]="'yellow'" highLightColor="red">
        Style me with better directive!
      </p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="200">value is 200</p>
        <p *ngSwitchDefault="5">value is Default</p>
      </div>
    </div>
  </div>
</div> -->

<!-- ----------------------------------------------------------------- -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr />
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
      ></app-account>
    </div>
  </div>
</div> -->

<!-- -------------------------------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
  </div>
</div> -->

<!-- Optimize this app by adding a UsersService which manages the active and inactive users
Also add a counterService which counts the number of active->inactive and inactive->active actions
-->

<!-- ----------------------------------------------------------------- -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs"> -->
<!-- here /path is the absolute path which appends to main url -->
<!-- Always Home Menu shows as selected since all other paths also contain home path -->
<!-- <li role="presentation" routerLinkActive="active">
          <a routerLink="/">Home</a>
        </li> -->
<!-- exact true will make menu active only when exact path is found and not for different paths -->
<!-- <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li> -->

<!-- Adding href will work but to navigate but it reloads the page which is not correct-->
<!-- <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/servers">Servers</a></li>
        <li role="presentation"><a href="/users">Users</a></li> -->
<!-- </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
<!-- Router Outlet lets load specific component as defined in app module -->
<!-- <router-outlet></router-outlet>
    </div>
  </div> -->
<!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->
<!-- </div> -->

<!-- ------------------------------------------------------------- -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a> |
      <a [routerLink]="['user', 1]"> User 1 </a>
      |
      <a [routerLink]="['user', 2]"> User 2 </a>
    </div>
  </div>
  <hr />
  <p *ngIf="userActivated">Activated!</p>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- ---------------------------------------------------------------- -->
<!-- Validators can be found here https://angular.io/api/forms/Validators -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Assigning refVariable to ngForm says angular to provide us with the javascript object created  -->
      <form (ngSubmit)="onSubmit()" #formRef="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <button class="btn btn-default" type="button">
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              #email="ngModel"
            />
            <span class="help-block" *ngIf="!email.valid && email.touched"
              >Please enter a valid email</span
            >
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- used one way binding ngModel to show default value -->
          <select
            id="secret"
            class="form-control"
            ngModel
            name="secret"
            [ngModel]="defaultQuestion"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!formRef.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
